body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    right: 0;
}

@media (min-width: 600px) {
    body::before {
        content: "SM";
    }
}

@media (min-width: 900px) {
    body::before {
        content: "MD";
    }
}

@media (min-width: 1200px) {
    body::before {
        content: "LG";
    }
}

@media (min-width: 1536px) {
    body::before {
        content: "XL";
    }
}
